{
  "openapi": "3.1.0",
  "info": {
    "title": "Reduck API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://reduck.ai"
    }
  ],
  "paths": {
    "/api/devices": {
      "get": {
        "operationId": "listDevices",
        "summary": "List devices",
        "description": "List the devices registered to your account.",
        "security": [
          {
            "bearerAuth": [
              "device:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Device"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List runs",
        "description": "List your automation runs, most recent first.",
        "security": [
          {
            "bearerAuth": [
              "run:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "cancelled",
                "error",
                "queued",
                "running",
                "success"
              ]
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseRun"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get run",
        "description": "Fetch one of your runs by id.",
        "security": [
          {
            "bearerAuth": [
              "run:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Run"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRun",
        "summary": "Delete run",
        "description": "Delete a finished run and the trace it recorded.",
        "security": [
          {
            "bearerAuth": [
              "run:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The run has not finished, or it has but is still being wrapped up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/runs/delete": {
      "post": {
        "operationId": "batchDeleteRuns",
        "summary": "Batch delete runs",
        "description": "Delete up to 100 runs by id in one call. An id it cannot delete is reported as skipped instead of failing the whole batch.",
        "security": [
          {
            "bearerAuth": [
              "run:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "runIds": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    }
                  }
                },
                "required": [
                  "runIds"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deletedIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The runs that were deleted."
                    },
                    "skippedIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The runs that were not: no such run on this account, or one still being wrapped up. Reported rather than failing the call, so a partial batch still tells you what landed."
                    }
                  },
                  "required": [
                    "deletedIds",
                    "skippedIds"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/runs/{runId}/trace": {
      "get": {
        "operationId": "getRunTrace",
        "summary": "Get run trace",
        "description": "Fetch the trace a run recorded.",
        "security": [
          {
            "bearerAuth": [
              "run:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such run on this account, or it recorded no trace.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}": {
      "get": {
        "operationId": "getScript",
        "summary": "Get script",
        "description": "Read one script by its canonical identity, including the version it currently runs. A public script is readable by anyone, signed in or not; a private one only by its owner, or a member of the project that owns it.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptWithVersion"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchScript",
        "summary": "Patch script",
        "description": "Update a script's editable metadata.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 75
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "human_required": {
                    "type": "boolean"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptWithVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}": {
      "get": {
        "operationId": "listScripts",
        "summary": "List scripts",
        "description": "List the scripts owned by one handle. The owner, and any member of the project when the handle names one, sees every script under it; everyone else sees only that owner's public scripts.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "public"
              ]
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Filter on archived state. Omit it and both archived and active scripts come back; `true` for archived only, `false` for active only."
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "healthy",
                "degraded",
                "failing",
                "unknown"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "featured",
                "name",
                "host",
                "runs",
                "successRate",
                "avgTime",
                "lastRunAt",
                "createdAt",
                "updatedAt"
              ],
              "description": "How to order the results. `relevance` needs a `q` search term and is the default with one; without `q` there is nothing to be relevant to and the default order is used instead."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseScriptSummary"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createScript",
        "summary": "Create script",
        "description": "Create a script under an owner handle, together with its first version, in one call.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "host": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 253,
                    "description": "The site the script automates, as a hostname."
                  },
                  "slug": {
                    "type": "string",
                    "maxLength": 64,
                    "pattern": "^[a-z0-9_-]+$",
                    "description": "The script's unique identifier within its host, unique per owner."
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 75
                  },
                  "description": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "public"
                    ]
                  },
                  "content": {
                    "type": "string",
                    "minLength": 1
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "typescript",
                      "javascript"
                    ]
                  },
                  "input_schema": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "output_schema": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "logged_in": {
                    "type": "boolean"
                  },
                  "side_effects": {
                    "type": "string",
                    "enum": [
                      "none",
                      "write"
                    ],
                    "description": "What running this version does to the site: `none` only reads, `write` acts on it. Declared by the author and never enforced, so treat it as a claim, not a guarantee."
                  },
                  "human_required": {
                    "type": "boolean"
                  },
                  "draft": {
                    "type": "boolean",
                    "description": "Leave the first version unpromoted, so the script starts with no current version."
                  }
                },
                "required": [
                  "host",
                  "slug",
                  "description",
                  "content",
                  "input_schema",
                  "output_schema",
                  "side_effects"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "host": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "current_version_id": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The version the script now runs, null when the first version was created as a draft."
                    },
                    "created_version_id": {
                      "type": "string",
                      "description": "The version just created. While it stays a draft the script does not point at it."
                    }
                  },
                  "required": [
                    "id",
                    "host",
                    "slug",
                    "current_version_id",
                    "created_version_id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "You may not create scripts under that owner, or your plan's allowance of private scripts is used up.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "That owner already has a script on this host and slug, or a draft first version was asked for alongside `visibility: \"public\"`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts": {
      "get": {
        "operationId": "listAllScripts",
        "summary": "List all scripts",
        "description": "List all scripts. Authenticated callers get a cross-owner list across their own scripts, member projects, and the official catalogue. Anonymous callers get the official catalogue only.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "host",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "public"
              ]
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Filter on archived state: `true` for archived only, `false` for active only. Omit it and only active scripts come back."
            }
          },
          {
            "name": "catalogueOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Restrict the list to the official catalogue."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "featured",
                "name",
                "host",
                "runs",
                "successRate",
                "avgTime",
                "lastRunAt",
                "createdAt",
                "updatedAt"
              ],
              "description": "How to order the results. `relevance` needs a `q` search term and is the default with one; without `q` there is nothing to be relevant to and the default order is used instead."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseScriptSummary"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/publish": {
      "post": {
        "operationId": "publishScript",
        "summary": "Publish script",
        "description": "Publish a script, making it readable by anyone.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptWithVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The script is archived (restore it first), or it has no promoted version (promote one first).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/unpublish": {
      "post": {
        "operationId": "unpublishScript",
        "summary": "Unpublish script",
        "description": "Unpublish a script, making it private again. Works on an archived script too.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptWithVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "You may not update that script, or going private would take you past your plan's allowance of private scripts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/archive": {
      "post": {
        "operationId": "archiveScript",
        "summary": "Archive script",
        "description": "Archive a script. It vanishes from the cross-owner listing, though a listing scoped to its owner still shows it unless you filter archived ones out. Archiving never frees its host and slug, so no other script can take that identity while it exists, and a public one stays readable by its own.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptWithVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/restore": {
      "post": {
        "operationId": "restoreScript",
        "summary": "Restore script",
        "description": "Restore an archived script.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptWithVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "You may not update that script, or restoring it would take you past your plan's allowance of private scripts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/versions": {
      "get": {
        "operationId": "listScriptVersions",
        "summary": "List script versions",
        "description": "List a script's versions, newest first. Read a version on its own to get its code.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 10000
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "draft",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "Omit for the whole history; \"true\" for the open drafts, \"false\" for promoted versions only."
            }
          },
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseScriptVersionSummary"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDraftScriptVersion",
        "summary": "Create draft script version",
        "description": "Add a version to a script as a draft: it does not become the version the script runs until you promote it.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "typescript",
                      "javascript"
                    ]
                  },
                  "parent_version_id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                    "description": "The version this draft continues from. It must belong to this script."
                  },
                  "note": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  },
                  "input_schema": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "output_schema": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "logged_in": {
                    "type": "boolean"
                  },
                  "side_effects": {
                    "type": "string",
                    "enum": [
                      "none",
                      "write"
                    ],
                    "description": "What running this version does to the site: `none` only reads, `write` acts on it. Declared by the author and never enforced, so treat it as a claim, not a guarantee."
                  }
                },
                "required": [
                  "note"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "script_id": {
                      "type": "string"
                    },
                    "version_number": {
                      "type": "number"
                    },
                    "parent_version_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "language": {
                      "type": "string"
                    },
                    "logged_in": {
                      "type": "boolean"
                    },
                    "side_effects": {
                      "$ref": "#/components/schemas/ScriptSideEffects"
                    },
                    "draft": {
                      "type": "boolean"
                    },
                    "note": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Why this version exists. Omitted on an official script unless you belong to the project that owns it, and never carried by the version a script listing embeds."
                    },
                    "created_by": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "handle",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Who saved this version. Distinct from the script's `author`, which is the OWNER (a user or a project): a project's script is edited by its members one at a time, and this names the one. Null when that account has since been deleted."
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "execution_count": {
                      "type": "number"
                    },
                    "last_run_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "success_rate": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "avg_time_ms": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "content": {
                      "type": "string",
                      "description": "The version's source. Omitted on an official script unless you belong to the project that owns it."
                    },
                    "input_schema": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "output_schema": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "diff": {
                      "$ref": "#/components/schemas/VersionDiff"
                    }
                  },
                  "required": [
                    "avg_time_ms",
                    "created_at",
                    "created_by",
                    "diff",
                    "draft",
                    "execution_count",
                    "id",
                    "input_schema",
                    "language",
                    "last_run_at",
                    "logged_in",
                    "output_schema",
                    "parent_version_id",
                    "script_id",
                    "side_effects",
                    "success_rate",
                    "version_number"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The code and contract are identical to the current version, or the script is archived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/versions/{versionId}": {
      "get": {
        "operationId": "getScriptVersion",
        "summary": "Get script version",
        "description": "Read one version of a script, its code and its contract included.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptVersion"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchDraftScriptVersion",
        "summary": "Patch draft script version",
        "description": "Update a draft version.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "typescript",
                      "javascript"
                    ]
                  },
                  "input_schema": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "output_schema": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "logged_in": {
                    "type": "boolean"
                  },
                  "side_effects": {
                    "type": "string",
                    "enum": [
                      "none",
                      "write"
                    ],
                    "description": "What running this version does to the site: `none` only reads, `write` acts on it. Declared by the author and never enforced, so treat it as a claim, not a guarantee."
                  },
                  "note": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 1000
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "script_id": {
                      "type": "string"
                    },
                    "version_number": {
                      "type": "number"
                    },
                    "parent_version_id": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "language": {
                      "type": "string"
                    },
                    "logged_in": {
                      "type": "boolean"
                    },
                    "side_effects": {
                      "$ref": "#/components/schemas/ScriptSideEffects"
                    },
                    "draft": {
                      "type": "boolean"
                    },
                    "note": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Why this version exists. Omitted on an official script unless you belong to the project that owns it, and never carried by the version a script listing embeds."
                    },
                    "created_by": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "handle": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "handle",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "Who saved this version. Distinct from the script's `author`, which is the OWNER (a user or a project): a project's script is edited by its members one at a time, and this names the one. Null when that account has since been deleted."
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "execution_count": {
                      "type": "number"
                    },
                    "last_run_at": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "success_rate": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "avg_time_ms": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "content": {
                      "type": "string",
                      "description": "The version's source. Omitted on an official script unless you belong to the project that owns it."
                    },
                    "input_schema": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "output_schema": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "diff": {
                      "$ref": "#/components/schemas/VersionDiff"
                    }
                  },
                  "required": [
                    "avg_time_ms",
                    "created_at",
                    "created_by",
                    "diff",
                    "draft",
                    "execution_count",
                    "id",
                    "input_schema",
                    "language",
                    "last_run_at",
                    "logged_in",
                    "output_schema",
                    "parent_version_id",
                    "script_id",
                    "side_effects",
                    "success_rate",
                    "version_number"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The version is no longer a draft, or the script is archived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDraftScriptVersion",
        "summary": "Delete draft script version",
        "description": "Discard a draft version.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The version is no longer a draft, or the script is archived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/versions/{versionId}/promote": {
      "post": {
        "operationId": "promoteScriptVersion",
        "summary": "Promote script version",
        "description": "Make a version the one the script runs, which is also how you roll back to an older one. A draft stops being a draft.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The script is archived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/{slug}/transfer": {
      "get": {
        "operationId": "listScriptTransferTargets",
        "summary": "List script transfer targets",
        "description": "List the scopes this script could move into: your personal scope, plus the projects where you may create scripts.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "targets": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransferTarget"
                      }
                    }
                  },
                  "required": [
                    "targets"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The script is archived, so there is nowhere it can move.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "transferScript",
        "summary": "Transfer script",
        "description": "Move a script to another scope: your personal one, or a project where you may create scripts.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "pattern": "^[a-z0-9_-]+$",
              "description": "The script's unique identifier within its host, unique per owner."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string",
                    "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
                  }
                },
                "required": [
                  "target"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "handle": {
                      "type": "string"
                    },
                    "host": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "handle",
                    "host",
                    "slug"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "You may not transfer the script out of the scope it is in, or the destination is not one you may create scripts in \u2014 an unknown handle, another user's personal scope, or a project where you lack that right \u2014 or landing a private script in your personal scope would take you past your plan's allowance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The destination already has a script on this host and slug, or the script is archived.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/scripts/{handle}/{host}/readme": {
      "get": {
        "operationId": "getHostReadme",
        "summary": "Get host readme",
        "description": "Read the README for a host: the notes an owner shares across every script they own for that site, like rate limits, login quirks, or ordering rules. Anyone can read it while that owner has a public, unarchived script on the host; otherwise only the owner, or a member of the project that owns it.",
        "security": [
          {
            "bearerAuth": [
              "script:read"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostReadme"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "setHostReadme",
        "summary": "Set host readme",
        "description": "Write the README for a host, the guidance shared across every script that owner has for the site. Calling it again replaces the previous text. The owner can, and so can a project member allowed to update its scripts.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20000
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostReadme"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteHostReadme",
        "summary": "Delete host readme",
        "description": "Delete a host's README. The owner can, and so can a project member allowed to update its scripts.",
        "security": [
          {
            "bearerAuth": [
              "script:write"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The owner a resource is addressed under: \"@username\" for a personal scope, or a bare slug for a project."
            }
          },
          {
            "name": "host",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 253,
              "description": "The site the script automates, as a hostname."
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get me",
        "description": "Identify the account these credentials belong to, and the projects it can act in. Its handle is null until the account picks a username, and its personal scope cannot be addressed until it does.",
        "security": [
          {
            "bearerAuth": [
              "profile"
            ]
          },
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "handle": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The handle this account is addressed by, null until it picks a username."
                    },
                    "role": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Account-level role: \"admin\" for Reduck staff, \"user\" for an ordinary account, null on one that was never given either."
                    },
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "handle": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "handle",
                          "name",
                          "role"
                        ],
                        "additionalProperties": false
                      },
                      "description": "The projects this account belongs to, and its role in each."
                    },
                    "experimental_features": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "const": "flock_apps"
                      },
                      "description": "Experimental features this account has been let into, whether granted to it directly or to one of its projects."
                    },
                    "usage": {
                      "anyOf": [
                        {
[...]
